
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var order = (Models.EF.Order)ViewBag.order;
    var detailOrder = (List<Models.EF.OrderDetail>)ViewBag.detailOrder;
}

<title>Xác nhận thanh toán</title>


<style>
    .container-confirm {
        max-width: 1200px;
        margin: 150px auto;
        padding: 0 10vw;
        /* Center-align the content */
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #000;
            padding: 8px;
        }

    ul {
        list-style-type: none;
        padding: 0;
    }

        ul li {
            margin-bottom: 10px;
        }

    .btn-success {
        margin-top: 20px;
    }
</style>

<div class="container-confirm">
    <p style="margin-top: 150px;">Dưới đây là thông tin đơn hàng của bạn:</p>
    <br />

    <table class="table">
        <tr>
            <th>Sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
        </tr>
        @foreach (var item in detailOrder)
        {
            <tr>
                <td>@item.NameProduct</td>
                <td>@string.Format("{0:N0} VNĐ", item.Price)</td>
                <td>@item.Quantity</td>
                <td>@string.Format("{0:N0} VNĐ", item.Quantity * item.Price)</td>
            </tr>
        }
    </table>
    <br />

    <p>Thông tin liên hệ:</p>
    <ul>
        <li><strong>Họ tên:</strong> @order.ShipName</li>
        <li><strong>Địa chỉ:</strong> @order.ShipAddress</li>
        <li><strong>Số điện thoại:</strong> @order.ShipMobile</li>
        <li><strong>Email:</strong> @order.ShipEmail</li>
    </ul>
    @using (Html.BeginForm("ThankYou", "Cart"))
    {
        <button type="submit" class="btn btn-success" style="background-color: #d9534f; color:aliceblue; width:130px ; height:40px; border-radius:5px;">Xác nhận</button>
    }
</div>

